@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    font: 400 1em/1.5 "Neuton";
    background: #090d00;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
}

p {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    display: inline-block;
    border: 4px double rgb(255, 255, 255);
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: sticky;
    margin: 5rem 0 5rem 0;
  } 
p span {
    font: 700 4em "Oswald", sans-serif;
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);
   /* Clip Background Image */
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
   /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
   /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}
/* Animação do funda da imagem */
@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
   }
    100% {
        background-position: 100% 50%;
   }
}


/* --------------------------------- */

svg {
    display: block;
    font: 6em 'Montserrat';
    width: 400px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 3px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}